<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aura Watches</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/templatemo.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/unicons.css"
    />
    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="assets/css/fontawesome.min.css" />

    <!-- LINK ANGULARJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- Load map styles -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="./assets/css/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css" />
  </head>

  <body ng-app="myApp" ng-controller="myController">
    <!-- TOP NAV -->
    <nav
      class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
      id="templatemo_nav_top"
    >
      <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
          <div>
            <i class="fa fa-envelope mx-2"></i>
            <a
              class="navbar-sm-brand text-light text-decoration-none"
              href="mailto:info@company.com"
              >info@company.com</a
            >
            <i class="fa fa-phone mx-2"></i>
            <a
              class="navbar-sm-brand text-light text-decoration-none"
              href="tel:010-020-0340"
              >010-020-0340</a
            >
          </div>
          <div>
            <a
              class="text-light"
              href="https://fb.com/templatemo"
              target="_blank"
              rel="sponsored"
              ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
            ></a>
            <a
              class="text-light"
              href="https://www.instagram.com/"
              target="_blank"
              ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
            ></a>
            <a class="text-light" href="https://twitter.com/" target="_blank"
              ><i class="fab fa-twitter fa-sm fa-fw me-2"></i
            ></a>
            <a
              class="text-light"
              href="https://www.linkedin.com/"
              target="_blank"
              ><i class="fab fa-linkedin fa-sm fa-fw"></i
            ></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- TOP NAV -->

    <!-- HEADER -->
    <nav
      class="navbar navbar-expand-lg navbar-light shadow"
      ng-controller="headerController"
    >
      <div class="container d-flex justify-content-between align-items-center">
        <a
          class="navbar-brand text-success logo h1 align-self-center"
          href="index.html"
        >
          Aura
        </a>

        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#templatemo_main_nav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
          id="templatemo_main_nav"
        >
          <!-- <nav>
        <a href="#/!">Home</a>
        <a href="#!list">Course List</a>
        <a href="#!add">Add New Course</a>
        <a href="#!contact">About Us</a>
      </nav> -->
          <div class="flex-fill">
            <ul
              class="nav navbar-nav d-flex justify-content-between mx-lg-auto"
            >
              <li class="nav-item">
                <a class="nav-link" href="#/!">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!shop">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#!contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="navbar align-self-center d-flex">
            <div
              class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
            ></div>
            <form class="d-flex" action="#!shop">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                ng-model="searchBar"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <a
              class="nav-icon position-relative text-decoration-none index-card"
              href="#"
            >
              <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
              <span
                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
                >7</span
              >
            </a>
            <a
              class="nav-icon position-relative text-decoration-none"
              href="#!login"
            >
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
            <span>{{username}}</span>
            <a
              type="button"
              class="btn btn-danger m-2 text-white"
              ng-click="logout()"
              >Quit</a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- HEADER -->

    <!-- VIEWs -->
    <div ng-view></div>

    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pt-5">
            <h2 class="h2 text-success border-bottom pb-3 border-light logo">
              Aurawatch
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <i class="fas fa-map-marker-alt fa-fw"></i>
                590 CTMT8 street, Ho Chi Minh City, Vietnam.
              </li>
              <li>
                <i class="fa fa-phone fa-fw"></i>
                <a class="text-decoration-none" href="19001085">19001085</a>
              </li>
              <li>
                <i class="fa fa-envelope fa-fw"></i>
                <a class="text-decoration-none" href="aurawatch@gmail.com"
                  >aurawatch@gmail.com</a
                >
              </li>
            </ul>
          </div>

          <div class="col-md-4 pt-5">
            <h2 class="h2 text-light border-bottom pb-3 border-light">
              Products
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <a class="text-decoration-none" href="#!sportstyle"
                  >Sport Watch</a
                >
              </li>
              <li>
                <a class="text-decoration-none" href="#!ladywatch"
                  >Women's Watch</a
                >
              </li>
              <li>
                <a class="text-decoration-none" href="#!wearsuit">Wear Suit</a>
              </li>
              <li>
                <a class="text-decoration-none" href="#!watchstylefeature"
                  >Style Feature</a
                >
              </li>
            </ul>
          </div>

          <div class="col-md-4 pt-5">
            <h2 class="h2 text-light border-bottom pb-3 border-light">
              Further Info
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <a class="text-decoration-none" href="#!return"
                  >Return Policy</a
                >
              </li>
              <li>
                <a class="text-decoration-none" href="#!ship">Ship Support</a>
              </li>
              <li>
                <a class="text-decoration-none" href="#!warranty"
                  >Warranty Policy</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="row text-light mb-4">
          <div class="col-12 mb-3">
            <div class="w-100 my-3 border-top border-light"></div>
          </div>
          <div class="col-auto me-auto">
            <ul class="list-inline text-left footer-icons">
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  rel="nofollow"
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://www.facebook.com/aptech.fpt"
                  ><i class="fab fa-facebook-f fa-lg fa-fw"></i
                ></a>
              </li>
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://www.youtube.com/results?search_query=fpt+aptech"
                  ><i class="fab fa-youtube fa-lg fa-fw"></i
                ></a>
              </li>
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://twitter.com/"
                  ><i class="fab fa-twitter fa-lg fa-fw"></i
                ></a>
              </li>
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://www.linkedin.com/"
                  ><i class="fab fa-linkedin fa-lg fa-fw"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="subscribeEmail">Email address</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control bg-dark border-light"
                id="subscribeEmail"
                placeholder="Email address"
              />
              <div class="input-group-text btn-success text-light">
                Subscribe
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 bg-black py-3">
        <div class="container">
          <div class="row pt-2">
            <div class="col-12">
              <p class="text-left text-light">
                Copyright &copy; Aurawatch | Designed by designed by
                <span>Group 8-FPT</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- SCRIPT -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- SCRIPT -->

    <!-- ANGULARJS CODE -->
    <script>
      var app = angular.module("myApp", ["ngRoute"]);
      app.config(function ($routeProvider) {
        $routeProvider
          .when("/", {
            templateUrl: "home.html",
          })
          .when("/about", {
            templateUrl: "about.html",
          })
          .when("/shop", {
            templateUrl: "shop.html",
          })
          .when("/contact", {
            templateUrl: "contact.html",
          })
          .when("/watch/:id", {
            templateUrl: "watchDetail.html",
            // controller: "detailController",
          })
          .when("/login", {
            templateUrl: "login.html",
          })
          .when("/signup", {
            templateUrl: "signup.html",
          })
          .when("/return", {
            templateUrl: "return.html",
          })
          .when("/ship", {
            templateUrl: "ship.html",
          })
          .when("/warranty", {
            templateUrl: "warranty.html",
          })
          .when("/ladywatch", {
            templateUrl: "ladyWatch.html",
          })
          .when("/sportstyle", {
            templateUrl: "sportStyle.html",
          })
          .when("/watchstylefeature", {
            templateUrl: "watchstyleFeature.html",
          })
          .when("/wearsuit", {
            templateUrl: "wearSuit.html",
          })
          .when("/warranty", {
            templateUrl: "warranty.html",
          })
          .when("/blog", {
            templateUrl: "blog.html",
          });
        // .otherwise({
        //   redirectTo: "/",
        // });
      });

      app.controller("myController", function ($scope, $location) {
        $scope.removeSub = function (id) {
          if (confirm("Are you sure?")) {
            let index = -1;
            $scope.list.forEach((item, i) => {
              if (item.id == id) {
                index = i;
                console.log(index);
              }
            });

            if (index >= 0) {
              $scope.list.splice(index, 1);
            }
          }
          console.log("hello");
        };

        $scope.goToDetail = function (watchId) {
          $location.path("/watch/" + watchId);
        };
      });

      app.run(function ($rootScope, $http) {
        $rootScope.list = [];
        $rootScope.watchColors = [];
        $http.get("./assets/data.json").then(function (res) {
          $rootScope.list = res.data.DataList;
        });

        console.log($rootScope.list);
        $http.get("./assets/json/watchColorData.json").then(function (res) {
          $rootScope.watchColors = res.data.watchColorData;
        });
        console.log($rootScope.watchColors);
      });

      app.controller("addController", function ($scope) {
        $scope.addSubject = function () {
          let newSub = {
            id: $scope.modelModuleId,
            name: $scope.modelModuleName,
            type: $scope.radio,
            fee: $scope.modelModuleFee,
          };

          $scope.list.push(newSub);
          console.log(newSub);
          alert("Success add new course !!!");
        };
      });

      app.controller("detailController", function ($scope, $routeParams) {
        var watchId = $routeParams.id;
        // Fetch the watch item with the specified ID and assign it to $scope.watch
        $scope.watch = $scope.list.find(function (item) {
          return item.id === parseInt(watchId);
        });
      });

      app.controller(
        "loginController",
        function ($scope, $window, $location, $route) {
          $scope.login = function () {
            // Retrieve existing users from local storage
            var users = JSON.parse($window.localStorage.getItem("users")) || [];

            // Find the user with the entered username
            var user = users.find(function (user) {
              return user.username === $scope.username;
            });

            if (user && user.password === $scope.password) {
              // Successful login
              alert("Login successful!");
              // Perform any additional actions, such as redirecting to a dashboard page
              $window.localStorage.setItem("username", $scope.username);
              $location.path("/");
              $route.reload();
            } else {
              // Invalid credentials
              alert("Invalid username or password. Please try again.");
            }
          };
        }
      );

      app.controller("signUpController", function ($scope, $window, $location) {
        $scope.signup = function () {
          // Retrieve existing users from local storage
          var users = JSON.parse($window.localStorage.getItem("users")) || [];

          // Check if the entered username already exists
          var existingUser = users.find(function (user) {
            return user.username === $scope.username;
          });

          if (existingUser) {
            alert(
              "Username already exists. Please choose a different username."
            );
            return;
          }

          // Create a new user object
          var newUser = {
            username: $scope.username,
            password: $scope.password,
          };

          // Add the new user to the users array
          users.push(newUser);

          // Save the updated users array to local storage
          $window.localStorage.setItem("users", JSON.stringify(users));

          // Perform any additional actions, such as redirecting to a login page
          alert("Sign up successful. You can now log in.");
          $location.path("/login");
        };
      });

      app.controller("headerController", function ($scope, $window) {
        // Retrieve the username from local storage
        $scope.username = $window.localStorage.getItem("username");
        $scope.logout = function () {
          // Remove the username from local storage
          $window.localStorage.removeItem("username");
          $scope.username = "";

          // Redirect to home page or any other page
          $location.path("/");
        };
      });
    </script>
  </body>
</html>
