<!-- Start Content -->
<div class="container py-5">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="h2 pb-4">Categories</h1>
      <ul class="list-unstyled templatemo-accordion">
        <!-- cat gender -->
        <li class="pb-3">
          <p>
            <a
              class="btn btn-success text-white w-50"
              data-bs-toggle="collapse"
              href="#gender"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Gender
            </a>
          </p>
          <div class="collapse" id="gender">
            <div class="card card-body">
              <div
                class="btn-group-vertical-sm"
                role="group"
                aria-label="Basic checkbox toggle button group"
              >
                <input
                  ng-model="genderFilter"
                  ng-init="genderFilter=''"
                  value=""
                  type="radio"
                  class="btn-check"
                  id="btncheck0"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btncheck0"
                  >All</label
                >
                <input
                  ng-model="genderFilter"
                  ng-init="genderFilter=''"
                  value="Men"
                  type="radio"
                  class="btn-check"
                  id="btncheck1"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btncheck1"
                  >Men</label
                >

                <input
                  ng-model="genderFilter"
                  value="Ladies"
                  type="radio"
                  class="btn-check"
                  id="btncheck2"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btncheck2"
                  >Ladies</label
                >
                <input
                  ng-model="genderFilter"
                  value="Unisex"
                  type="radio"
                  class="btn-check"
                  id="btncheck3"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="btncheck3"
                  >Unisex</label
                >
              </div>
            </div>
          </div>
        </li>

        <!-- cat color -->
        <li class="pb-3">
          <p>
            <a
              class="btn btn-success text-white w-50"
              data-bs-toggle="collapse"
              href="#cat-color"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Color
            </a>
          </p>
          <div class="collapse" id="cat-color">
            <div class="card card-body">
              <div
                class="btn-group-sm"
                role="group"
                aria-label="Basic checkbox toggle button group"
              >
              <input
                  ng-model="colorFilter"
                  ng-init="colorFilter=''"
                  value=""
                  type="radio"
                  class="btn-check"
                  id="color0"
                />
                <label class="btn btn-outline-primary" for="color0"
                  >All</label
                >
                <input
                  ng-model="colorFilter"
                  ng-init="colorFilter=''"
                  value="Black"
                  type="radio"
                  class="btn-check"
                  id="color1"
                />
                <label class="btn btn-outline-primary" for="color1"
                  >Black</label
                >
                <input
                  ng-model="colorFilter"
                  value="White"
                  type="radio"
                  class="btn-check"
                  id="color2"
                />
                <label class="btn btn-outline-primary" for="color2"
                  >White</label
                >
                <input
                  ng-model="colorFilter"
                  value="Brown"
                  type="radio"
                  class="btn-check"
                  id="color3"
                />
                <label class="btn btn-outline-primary" for="color3"
                  >Brown</label
                >
                <input
                  ng-model="colorFilter"
                  value="Purple"
                  type="radio"
                  class="btn-check"
                  id="color4"
                />
                <label class="btn btn-outline-primary" for="color4"
                  >Purple</label
                >
                <input
                  ng-model="colorFilter"
                  value="Red"
                  type="radio"
                  class="btn-check"
                  id="color5"
                />
                <label class="btn btn-outline-primary" for="color5">Red</label>
                <input
                  ng-model="colorFilter"
                  value="Grey"
                  type="radio"
                  class="btn-check"
                  id="color6"
                />
                <label class="btn btn-outline-primary" for="color6">Grey</label>
                <input
                  ng-model="colorFilter"
                  value="Yellow"
                  type="radio"
                  class="btn-check"
                  id="color7"
                />
                <label class="btn btn-outline-primary" for="color7"
                  >Yellow</label
                >
                <input
                  ng-model="colorFilter"
                  value="Pink"
                  type="radio"
                  class="btn-check"
                  id="color8"
                />
                <label class="btn btn-outline-primary" for="color8">Pink</label>
                <input
                  ng-model="colorFilter"
                  value="Mint Green"
                  type="radio"
                  class="btn-check"
                  id="color9"
                />
                <label class="btn btn-outline-primary" for="color9"
                  >Mint Green</label
                >
                <input
                  ng-model="colorFilter"
                  value="Yellow Gold-plated"
                  type="radio"
                  class="btn-check"
                  id="color10"
                />
                <label class="btn btn-outline-primary" for="color10"
                  >Yellow Gold-plated</label
                >
                <input
                  ng-model="colorFilter"
                  value="Brown and green"
                  type="radio"
                  class="btn-check"
                  id="color11"
                />
                <label class="btn btn-outline-primary" for="color11"
                  >Brown and green</label
                >
                <input
                  ng-model="colorFilter"
                  value="Sand Beige"
                  type="radio"
                  class="btn-check"
                  id="color12"
                />
                <label class="btn btn-outline-primary" for="color12"
                  >Sand Beige</label
                >
                <input
                  ng-model="colorFilter"
                  value="Silver"
                  type="radio"
                  class="btn-check"
                  id="color13"
                />
                <label class="btn btn-outline-primary" for="color13"
                  >Silver</label
                >
                <input
                  ng-model="colorFilter"
                  value="Green"
                  type="radio"
                  class="btn-check"
                  id="color14"
                />
                <label class="btn btn-outline-primary" for="color14"
                  >Green</label
                >
                <input
                  ng-model="colorFilter"
                  value="Blue"
                  type="radio"
                  class="btn-check"
                  id="color15"
                />
                <label class="btn btn-outline-primary" for="color15"
                  >Blue</label
                >
              </div>
            </div>
          </div>
        </li>

        <!-- cat tech type -->
        <li class="pb-3">
          <p>
            <a
              class="btn btn-success text-white w-50"
              data-bs-toggle="collapse"
              href="#cat-techtype"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Tech Type
            </a>
          </p>
          <div class="collapse" id="cat-techtype">
            <div class="card card-body">
              <div
                class="btn-group-vertical-sm"
                role="group"
                aria-label="Basic checkbox toggle button group"
              >
                <input
                  ng-model="techTypeFilter"
                  value=""
                  type="radio"
                  class="btn-check"
                  id="techtype0"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="techtype0"
                  >All</label
                >
                <input
                  ng-model="techTypeFilter"
                  value="Digital"
                  type="radio"
                  class="btn-check"
                  id="techtype1"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="techtype1"
                  >Digital</label
                >

                <input
                  ng-model="techTypeFilter"
                  value="Analog"
                  type="radio"
                  class="btn-check"
                  id="techtype2"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="techtype2"
                  >Analog</label
                >
              </div>
            </div>
          </div>
        </li>

        <!-- cat watch/clock -->
        <li class="pb-3">
          <p>
            <a
              class="btn btn-success text-white w-50"
              data-bs-toggle="collapse"
              href="#cat-type"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Type
            </a>
          </p>
          <div class="collapse" id="cat-type">
            <div class="card card-body">
              <div
                class="btn-group-vertical-sm"
                role="group"
                aria-label="Basic checkbox toggle button group"
              >
                <input
                  ng-model="typeFilter"
                  value=""
                  type="radio"
                  class="btn-check"
                  id="type0"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="type0">All</label>
                <input
                  ng-model="typeFilter"
                  value="Watch"
                  type="radio"
                  class="btn-check"
                  id="type1"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="type1">Watch</label>

                <input
                  ng-model="typeFilter"
                  value="Clock"
                  type="radio"
                  class="btn-check"
                  id="type2"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="type2">Clock</label>
              </div>
            </div>
          </div>
        </li>

        <!-- cat materials -->
        <li class="pb-3">
          <p>
            <a
              class="btn btn-success text-white w-50"
              data-bs-toggle="collapse"
              href="#cat-material"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Material
            </a>
          </p>
          <div class="collapse" id="cat-material">
            <div class="card card-body">
              <div
                class="btn-group-vertical-sm"
                role="group"
                aria-label="Basic checkbox toggle button group"
              >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value=""
                  type="radio"
                  class="btn-check"
                  id="mate0"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate0">All</label>
                <input
                  ng-model="materialFilter"
                  value="Resin"
                  type="radio"
                  class="btn-check"
                  id="mate1"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate1">Resin</label>
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Stainless Steel"
                  type="radio"
                  class="btn-check"
                  id="mate2"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate2"
                  >Stainless Steel</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Super Titanium"
                  type="radio"
                  class="btn-check"
                  id="mate3"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate3"
                  >Super Titanium</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Leather"
                  type="radio"
                  class="btn-check"
                  id="mate4"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate4"
                  >Leather</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Silicone"
                  type="radio"
                  class="btn-check"
                  id="mate5"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate5"
                  >Silicone</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Metal"
                  type="radio"
                  class="btn-check"
                  id="mate6"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate6">Metal</label>
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Ceramic"
                  type="radio"
                  class="btn-check"
                  id="mate7"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate7"
                  >Ceramic</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="316L Stainless Steel"
                  type="radio"
                  class="btn-check"
                  id="mate8"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate8"
                  >316L Stainless Steel</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Nylon"
                  type="radio"
                  class="btn-check"
                  id="mate9"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate9">Nylon</label>
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Wooden"
                  type="radio"
                  class="btn-check"
                  id="mate10"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate10"
                  >Wooden</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Plastic"
                  type="radio"
                  class="btn-check"
                  id="mate11"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate11"
                  >Plastic</label
                >
                <!-- material -->
                <input
                  ng-model="materialFilter"
                  value="Marble"
                  type="radio"
                  class="btn-check"
                  id="mate12"
                  autocomplete="off"
                />
                <label class="btn btn-outline-primary" for="mate12"
                  >Marble</label
                >
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- PRODUCT LISTS -->
    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline shop-top-menu pb-3 pt-1">
            <li class="list-inline-item">
              <a
                class="h3 text-dark text-decoration-none mr-3 btn btn-grey"
                role="button"
                ng-click="clearFilter()"
                >All</a
              >
            </li>
            <li class="list-inline-item">
              <a
                class="h3 text-dark text-decoration-none mr-3 btn btn-grey"
                role="button"
                >Men's</a
              >
            </li>
            <li class="list-inline-item">
              <a
                class="h3 text-dark text-decoration-none btn btn-grey"
                role="button"
                >Women's</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-6 pb-4">
          <div class="d-flex">
            <select class="form-control">
              <option>Featured</option>
              <option>A to Z</option>
              <option>Item</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- CARDS -->
        <div
          class="col-lg-4 col-md-6 col-sm-12"
          ng-repeat="item in list | filter:searchBar | filter:{gender:genderFilter} | filter:{watchColor:colorFilter} | filter:{techType:techTypeFilter} | filter:{type:typeFilter} | filter:{material:materialFilter}"
        >
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img
                class="card-img rounded-0 img-fluid"
                ng-src="{{item.imageUrl}}"
              />
              <div
                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="btn btn-success text-white"
                      ><i class="far fa-heart"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="btn btn-success text-white mt-2"
                      ng-click="goToDetail(item.id)"
                      ><i class="far fa-eye"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      class="btn btn-success text-white mt-2"
                      href="#/watch/{{item.id}}"
                      ><i class="fas fa-cart-plus"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="#!/watch/{{item.id}}" class="h3 text-decoration-none"
                >{{item.watchName}}</a
              >
              <ul
                class="w-100 list-unstyled d-flex justify-content-between mb-0"
              >
                <li>
                  {{item.gender}} - {{item.watchColor}} - {{item.material}}
                </li>
                <li class="pt-2">
                  <span
                    class="product-color-dot color-dot-red float-left rounded-circle ml-1"
                  ></span>
                  <span
                    class="product-color-dot color-dot-blue float-left rounded-circle ml-1"
                  ></span>
                  <span
                    class="product-color-dot color-dot-black float-left rounded-circle ml-1"
                  ></span>
                  <span
                    class="product-color-dot color-dot-light float-left rounded-circle ml-1"
                  ></span>
                  <span
                    class="product-color-dot color-dot-green float-left rounded-circle ml-1"
                  ></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0">${{item.price}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- PAGE NUMBER -->
      <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
          <li class="page-item disabled">
            <a
              class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
              href="#"
              tabindex="-1"
              >1</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
              href="#"
              >2</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
              href="#"
              >3</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
  <div class="container my-4">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Our Brands</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div class="col-lg-9 m-auto tempaltemo-carousel">
        <div class="row d-flex flex-row">
          <!--Controls-->
          <div class="col-1 align-self-center">
            <a
              class="h1"
              href="#multi-item-example"
              role="button"
              data-bs-slide="prev"
            >
              <i class="text-light fas fa-chevron-left"></i>
            </a>
          </div>
          <!--End Controls-->

          <!--Carousel Wrapper-->
          <div class="col">
            <div
              class="carousel slide carousel-multi-item pt-2 pt-md-0"
              id="multi-item-example"
              data-bs-ride="carousel"
            >
              <!--Slides-->
              <div class="carousel-inner product-links-wap" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_01.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_02.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_03.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_04.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                  </div>
                </div>
                <!--End First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_01.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_02.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_03.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_04.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                  </div>
                </div>
                <!--End Second slide-->

                <!--Third slide-->
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_01.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_02.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_03.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#"
                        ><img
                          class="img-fluid brand-img"
                          src="assets/img/brand_04.png"
                          alt="Brand Logo"
                      /></a>
                    </div>
                  </div>
                </div>
                <!--End Third slide-->
              </div>
              <!--End Slides-->
            </div>
          </div>
          <!--End Carousel Wrapper-->

          <!--Controls-->
          <div class="col-1 align-self-center">
            <a
              class="h1"
              href="#multi-item-example"
              role="button"
              data-bs-slide="next"
            >
              <i class="text-light fas fa-chevron-right"></i>
            </a>
          </div>
          <!--End Controls-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Brands-->
